# ===== Large ML outputs (IMPORTANT) =====
checkpoints/
reconstructed_gaussians/
epoch_*/

# Gaussian splats
*.ply

# Model checkpoints
*.pt
*.pth
*.ckpt

# Numpy data
*.npy
*.npz

# WandB
wandb/

# Logs
logs/
*.log

# Large datasets
*.h5
*.zip
*.tar.gz

# Misc
*.csv
*.json

#Images
*.png
*.jpg
*.jpeg

#Pdfs
*.pdf