# ===== Large ML outputs (IMPORTANT) =====
checkpoints/
reconstructed_gaussians/
epoch_*/

# Gaussian splats
*.ply

# Model checkpoints
*.pt
*.pth
*.ckpt

# Numpy data
*.npy
*.npz

# WandB
wandb/

# Logs
logs/
*.log
*.log_ss2
*.log_ss1

# Large datasets
*.h5
*.zip
*.tar.gz

# Misc
*.csv
*.json

#Images
*.png
*.jpg
*.jpeg

#Pdfs
*.pdf


# Logs (directories)
log_ss2/
logs_ss1/
logs/
*.log

# Python cache
__pycache__/
*.pyc

# Job output logs (if any)
*.out
*.err